mat-form-field {
    padding: 5%;
    font-size: 28px;
    width: 100%;
    height: 100%;
    color: #feda4a;
    background-color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    z-index: 1;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
}